@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&');

* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;

}



.body-container {
    display: flex;
    justify-content: center;
}

.score-container {
    max-width: 500px;
    max-height: 160px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30vw;
    background-color: #f2CC0f;
}

/* .animation-container { */
/* width: 100px; */
/* height: 100px; */
/* position: relative; */
/* animation-name: example; */
/* animation-duration: 4s; */
/* color: #F2F2F2; */
/* background-color: red; */
/* } */

/* @keyframes example { */
/* 0% { */
/* background-color: #F2F2F2; */
/* left: 0px; */
/* top: 0px; */
/* } */
/*  */
/* 25% { */
/* background-color: yellow; */
/* left: 200px; */
/* top: 0px; */
/* } */
/*  */
/* 50% { */
/* background-color: blue; */
/* left: 200px; */
/* top: 200px; */
/* } */
/*  */
/* 75% { */
/* background-color: green; */
/* left: 0px; */
/* top: 200px; */
/* } */
/*  */
/* 100% { */
/* background-color: #F2F2F2; */
/* left: 0px; */
/* top: 0px; */
/* } */
/* } */


h2 {
    color: #F2F2F2;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.game-container {
    display: flex;
    align-items: center;
    max-width: 500px;
    max-height: 360px;
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 70vw;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 30%);

}

.game-container.correct {
    --hue: var(--hue-correct);
}

.game-container.wrong {
    --hue: var(--hue-wrong);
}


.quiz-container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;

}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;

}

.btn {
    --hue: var(--hue-neutral);
    border: 2px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);

}

.start-btn,
.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.well-done {
    color: green;
}

.oops {
    color: red;
}

.end {
    color: #9453A6;
}

.restart {
    background-color: #9453A6;
}